# python cache
__pycache__/
*.pyc
*.pyo

# macOS system file
.DS_Store

# virtual environments
venv/
.env/

# local database file
*.duckdb

# large CSV seed
dbt_project/seeds/olist/olist_geolocation_dataset.csv

# compiled shared libraries
*.dylib
*.so

# jupyter notebook checkpoint
.ipynb_checkpoints/

# streamlit cache
.streamlit/

# VS Code settings
.vscode/
